.Button {
    background-color: green;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 18px;
}

.Button:hover {
    background-color: darkslategray;
}

.Button:active {
    color: yellow;
}